<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<title>66othello</title>
	<style>
		#app{
			text-align: center;
		}
		table{
			display: inline-block;
		}
		.cell{
			height: 10vmin;
			width: 10vmin;
			font-size: 6vmin;
		}
		p{
			margin: 5px;
		}
		#text{
			margin: 15px;
		}
	</style>
</head>
<body>
	<div id="app">

		<!-- vueで表を作る -->
		<table border="1" cellspacing="0">
			<tr v-for="cell in cells">
				<td v-for="i in cell" class="cell" v-on:click="clicked()">
					<span v-if="i===1">&#x26AB;</span>
					<span v-if="i===-1">&#x26AA;</span>
					<span v-if="i===0"></span>
				</td>
			</tr>
		</table>

		<div id="text">
			<p id="message"></p>
			<p id="message2"></p>
		</div>
		<button v-on:click="new_game">新しいゲームを始める</button>
		<form action="">
			<input type="radio" name="cpu" id="cpu" value="cpu" v-model="flag_vscpu" v-on:click="vs_cpu()">
			<label for="cpu" v-on:click="vs_cpu()">CPUと対戦</label><br>
			<input type="radio" name="person" id="person" value="person" v-model="flag_vscpu">
			<label for="person">自分で操作</label>
		</form>
	</div>


	<script>
		let app = new Vue({
			el: "#app",
			data: {
				// 探索する方向
				direction: [
					[-1, -1],
					[0, -1],
					[1, -1],
					[1, 0],
					[1, 1],
					[0, 1],
					[-1, 1],
					[-1, 0],
				],

				cells: [],
				flag_cells: [],
				turn: "",
				flag_pass: "",
				random: "",
				flag_vscpu: "cpu"
			},

			methods:{
				// 盤面の初期化処理
				init_field: function(){
					// 盤面
					this.cells =  [
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0,-1, 1, 0, 0],
						[0, 0, 1,-1, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
					];

					// 返せる駒の位置
					this.flag_cells = [
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
						[0, 0, 0, 0, 0, 0],
					];

					// その他
					this.turn = 1;
					this.flag_pass = false;
					this.random = Math.floor(Math.random() * 2) * 2 -1;
					document.getElementById("message").innerHTML = "次は黒番です";
					this.verification_put();
				},

				// クリック時の処理
				clicked: function(ev){
					// イベントから行と列を特定
					ev = ev || window.event;
					elem = ev.target;
					let list_tr = document.getElementsByTagName("tr");
					let list_td = elem.parentNode.childNodes;
					list_tr = [].slice.call(list_tr);
					list_td = [].slice.call(list_td);
					tr_num = list_tr.indexOf(elem.parentNode);
					td_num = list_td.indexOf(elem);

					this.put(tr_num, td_num)
				},

				// 石を置く処理
				put: function(tr_num, td_num){
					if (this.check_put(tr_num, td_num)){
						// ひっくり返す
						for (let i=0; i<6; i++) {
							for (let j=0; j<6; j++) {
								if (this.flag_cells[i][j] === 1){
									this.cells[i][j] = this.turn;
								};
							};
						};

						// 石を置く
						this.$set(this.cells[tr_num], td_num, this.turn);
						this.change_turn();
					};
				},

				// ターンを変える処理
				change_turn: function(){
					this.turn = 0 - this.turn;
					document.getElementById("message").innerHTML = "次は" + [ "白", "", "黒"][this.turn+1] + "番です";

					// 終了判定
					if (!this.cells.some(value => value.some(v => v===0))){
						this.finish()
					}
					this.verification_put();
				},

				// cpuと対戦のチェックボックスが押されたときに手を確認する
				vs_cpu: function(){
					this.flag_vscpu = "cpu";
					this.verification_put();
				},

				// 置き場所の確認・cpuの指し手
				verification_put: function(){
					// 人の手番を表示/非表示
					if (this.flag_vscpu === "cpu"){
						document.getElementById("message2").innerHTML = "あなたは" + [ "白", "", "黒"][-this.random+1] + "番です";
					} else{
						document.getElementById("message2").innerHTML = "";
					}

					// 置き場所があるかを確認
					let able_put = []
					for (let i=0; i<6; i++) {
						for (let j=0; j<6; j++) {
							if (this.check_put(i, j)){
								able_put.push([i, j]);
							};
						};
					};

					// 置く場所なかったら終了or手番を変える
					if (able_put.length === 0){
						document.getElementById("message").innerHTML = "置ける場所がありません";
						if (this.flag_pass){
							this.finish()
						} else {
						this.flag_pass = true
						this.change_turn()
						};
					} else {
						this.flag_pass = false

						// cpuの番
						if (this.flag_vscpu === "cpu" & this.turn === this.random){
							let random_choice = able_put[Math.floor(Math.random() * able_put.length)];

							setTimeout(this.put, 1000, random_choice[0], random_choice[1]);
						};
					};
				},

				// 終了時の処理
				finish: function(){
					let sum = this.cells.reduce((sum, element) => sum + element.reduce((sum2, element2) => sum2 + element2, 0), 0)
					if (sum > 0){
						document.getElementById("message").innerHTML = "黒の勝ちです";
					} else if (sum < 0){
						document.getElementById("message").innerHTML = "白の勝ちです";
					} else {
						document.getElementById("message").innerHTML = "引き分けです";
					}

					setTimeout(this.new_game, 1000);
				},

				// 新しいゲームを開始
				new_game: function(){
					this.init_field();
					this.cells.splice(this.cells.length-1, [0, 0, 0, 0, 0, 0]);
				},

				// 盤面の端に来たかどうかの確認
				check_end: function(tr_num, td_num){
					return 5>=tr_num & tr_num>=0 & 5>=td_num & td_num>=0;
				},

				// 駒を置けるか確認
				check_put: function(tr_num, td_num){
					if (this.cells[tr_num][td_num] != 0){
						return false;
					} else {
						this.flag_cells = [
							[0, 0, 0, 0, 0, 0],
							[0, 0, 0, 0, 0, 0],
							[0, 0, 0, 0, 0, 0],
							[0, 0, 0, 0, 0, 0],
							[0, 0, 0, 0, 0, 0],
							[0, 0, 0, 0, 0, 0],
						];
						this.turn_over(tr_num, td_num);
						return this.flag_cells.some(value => value.some(v => v===1));
					};
				},

				// 返せるか確認
				turn_over: function(tr_num, td_num){
					this.direction.forEach(dir => {
						let td_here = td_num + dir[0];
						let tr_here = tr_num + dir[1];

						// 自分の石があるか確認
						let flag_mystone = false;
						while (this.check_end(tr_here, td_here)){
							if (this.cells[tr_here][td_here] === 0-this.turn){
								td_here += dir[0];
								tr_here += dir[1];
								continue;
							} else if (this.cells[tr_here][td_here] === this.turn){
								flag_mystone = true;
								break;
							} else{
								flag_mystone = false;
								break;
							};
						}
						// なかったら次の方向へ
						if (!flag_mystone){
							return;
						};

						// 相手の石がある確認
						td_here = td_num + dir[0];
						tr_here = tr_num + dir[1];
						while (this.check_end(tr_here, td_here)){
							if (this.cells[tr_here][td_here] === 0-this.turn){
								this.flag_cells[tr_here][td_here] = 1;
								td_here += dir[0];
								tr_here += dir[1];
							} else{
								break;
							};
						};
					});
				},
			},
			created() {
				this.init_field();
			}
		});
	</script>
</body>
</html>
